
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;     

}

.container1{
    position: absolute;
    width: 698px;
    height: 586px;
}

.rectangle1{
    position: absolute;
    height: 461px;
    width: 639px;
    background: rgba(255, 251, 167, 0.3);
}

.rectangle2{
    position: absolute;
    height: 586px;
    width: 311px; 
    background: rgba(255, 217, 119, 0.5);
}

.rectangle3{
    position: absolute;
    height: 154px;
    width: 588px;
    margin-left: 110px;  
    background: rgba(255, 169, 89, 0.6);
}

.rectangle4{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;

    height: 47px;
    width: 357px;
    margin-top: 77px;    
    background: #FFFFFF;
}

h4{
    font-size: 28px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: #FFCB9C;
}



.tabcontainers{
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 30%;
    margin-left: 26%;
    margin-top: 20%;
}

.tab1{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    width: 100%;
    margin-top: 5%;
}

.tab1:hover{
    background: rgba(255, 217, 119, 0.3);
    border-radius: 50px;
}

h3{
    font-size: 30px;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: #515151;
}

h3:hover{
    font-style: italic;
    color: #636363;
}











.container3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    height: 55px;
    width: 1030px;
    margin-left: 250px;
    margin-top: 880px;
}

.button1{
    height: 55px;
    width: 205px;
    border-radius: 50px;
    background: rgba(89, 175, 255, 0.7);
}

.button1:hover{
    background: rgba(119, 214, 255, 0.5);
}

.button2{
    height: 55px;
    width: 205px;
    border-radius: 50px;
    background: rgba(161, 248, 226);
}

.button2:hover{
    background: rgba(179, 255, 167, 0.3);
}

.homebutton:hover{
    background-image: url(homebutton_grey.png);
    background-size: cover;
    width: 50px;
    height: 50px;
}

.button3{
    height: 55px;
    width: 205px;
    border-radius: 50px;
    background: rgba(255, 217, 119, 0.7);
}

.button3:hover{
    background: rgba(255, 217, 119, 0.5);
}

.button4{
    height: 55px;
    width: 205px;
    border-radius: 50px;
    background: rgba(255, 143, 119, 0.7);
}

.button4:hover{
    background: rgba(255, 143, 119, 0.5);
}

h6{
    display: flex;
    justify-content: center;
    margin-top: 5%;
    font-size: 22px;
    font-weight: bolder;
    font-family: 'Baloo Bhaijaan 2', cursive;
    color: #FFFFFF;
}

h6:hover{
    margin-top: 4%;
    font-size: 23px;
    color: #515151;
}








.copyright{
    position: absolute;
    width: 150px;
    margin-top: 950px;
    margin-left: 690px;
    font-size: 18px;
    font-family: 'Hepta Slab', serif;
    color: rgb(177, 177, 177, 0.8);
}